In [ ]:
dict:
    it is collection of item
    it is mutable type DS
    it is unorderd type
    {}

In [ ]:
item ---> key:value

In [1]:
py_dict = {'name':'Python','Age':33,'Author':'Guido van Rossum'}

In [2]:
py_dict

{'name': 'Python', 'Age': 33, 'Author': 'Guido van Rossum'}

### keys :
    name
    Age
    Author
### values : 
    Python
    33
    Guido van Russom

In [ ]:
keys:
    keys always immutable
    str,int,tuple,frozenset
    key never duplicate
values:
    can be mutable or immutable
    str,list,tuple,set,dict,frozenset
    can be duplicate

In [4]:
py_dict

{'name': 'Python', 'Age': 33, 'Author': 'Guido van Rossum'}

In [7]:
emp = {
    ['name']:'Arun',
    'sal':95000,
    'city':'pune',
    'dept':'HR'
}

TypeError: unhashable type: 'list'

In [6]:
emp

{'name': 'Arun', 'sal': 95000, 'city': 'pune', 'dept': 'HR'}

In [8]:
emp_dict = {
    'name':['Arun','Jon','Jusin'],
    'age':[22,34,45],
    'city':['Pune','Mumbai','Chennai'],
    'Sal':[45000,96660,45722]
}

In [9]:
emp_dict

{'name': ['Arun', 'Jon', 'Jusin'],
 'age': [22, 34, 45],
 'city': ['Pune', 'Mumbai', 'Chennai'],
 'Sal': [45000, 96660, 45722]}

In [10]:
import pandas as pd

In [11]:
pd.DataFrame(emp_dict)

    name  age     city    Sal
0   Arun   22     Pune  45000
1    Jon   34   Mumbai  96660
2  Jusin   45  Chennai  45722

In [ ]:
keys
values

In [12]:
py_dict

{'name': 'Python', 'Age': 33, 'Author': 'Guido van Rossum'}

In [13]:
py_dict['Author']

'Guido van Rossum'

In [14]:
py_dict['name']

'Python'

In [15]:
py_dict['Age']

33

In [16]:
emp_dict

{'name': ['Arun', 'Jon', 'Jusin'],
 'age': [22, 34, 45],
 'city': ['Pune', 'Mumbai', 'Chennai'],
 'Sal': [45000, 96660, 45722]}

In [21]:
emp_dict['name'].insert(2,'Keshav')

In [22]:
emp_dict

{'name': ['Arun', 'Jon', 'Keshav', 'Jusin'],
 'age': [22, 34, 45],
 'city': ['Pune', 'Mumbai', 'Chennai'],
 'Sal': [45000, 96660, 45722]}

In [24]:
tn  = {'name': 'Python', 'Age': 33 ,'Author': 'Guido van Rossum'}

In [25]:
tn

{'name': 'Python', 'Age': 33, 'Author': 'Guido van Rossum'}

In [27]:
emp_dict['name'].insert(4,200)

In [29]:
emp_dict['name'].append('Hadoop')

In [32]:
p = {'a':100,'b':200,'a':500}

In [33]:
p

{'a': 500, 'b': 200}